.safe-padding {
	padding: 2px;
	line-height: 200%;
}
.call {
	display: none;
}
@media (max-width: 1024px) {
.c1025 {
	display: none;
}
#Top h1 {
	padding: 35px 0 0 0;
}
}
@media (min-width: 1025px) {
.u1025 {
	display: none;
}
}
@media (max-width: 499px) {
.c499 {
	display: none;
}
#Top h1 {
     width: auto;
}
}
@media (max-width: 799px) {
.c799 {
	display: none;
}
}
@media (max-width: 640px) {
.c640 {
	display: none;
}
}
@media (max-width: 360px) {
.c360 {
	display: none;
}
}

.menu-items {
	position: absolute;
	z-index: 1001;
	background-color: #103754;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	padding: 4px;
	top: 32px;
	line-height: 36px;
}

.menu-items a {
	color: #C3F0FF;
	font-weight: bold;
	text-decoration: none;
}

#navigation-menu, #user-menu {
	display: inline-block;
	padding: 2px 4px 0px 4px;
	vertical-align: middle;
	text-align: left;
	position: relative;
}

#navigation-menu .menu-items, #user-menu .menu-items {
	display: none;
}

#navigation-button:checked + .menu-items,
#user-button:checked + .menu-items {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

#navigation-label,
#user-label {
	z-index: 1001;
	display: inline-block;
	vertical-align: middle;
}
#navigation-label img,
#user-label img {
	pointer-events: none;
}

#navigation-menu input[type="checkbox"],
#user-menu input[type="checkbox"] {
	display: none;
}
