@font-face {
     font-family: 'SEGOEUIL';
     src: url('./font/SEGOEUIL.eot');
     src: local('SEGOEUIL'), url('./font/SEGOEUIL.woff') format('woff'), url('./font/SEGOEUIL.ttf') format('truetype');
}

*, .normal-size {
     font-size: 1rem;
}

html, body {
     background: url("http://files.phpclasses.org/graphics/phpclasses/background.jpg") repeat-x scroll center 36px #97DFEE;
     color: black;
     font-family: 'SEGOEUIL', sans-serif, arial, helvetica;
     height: 100%;
     margin: 0px;
}

a:link, a:active {
     color: #0578C2;
     text-decoration: none;
}

a:visited {
     color: #12314D;
}

a:hover {
     text-decoration: underline;
}

.left {
     float: left;
}

.right {
     float: right;
}

.clear {
     clear: both;
}

img {
     border: medium none;
}

h1 {
     font-size: 2em;
     font-weight: bold;
     width: auto !important;
     padding: 0px !important;
}

h2 {
     color: #666666;
     padding-bottom: 0px;
     padding-top: 0px;
}

h2, h2 a, h2 span {
     font-size: 16px;
}

h3 {
     border-bottom: 3px dotted #CCCCCC;
     color: #333333;
     font-size: 15px;
     margin: 10px 0px;
     padding: 10px 0px;
}

h4 {
     color: #113452;
     font-size: 14px;
     font-weight: bold;
}

h5 {
     color: #0578C2;
     font-size: 13px;
     font-weight: bold;
}

h6 {
     color: #666666;
     font-size: 12px;
     font-weight: bold;
}

big big a {
     display: block;
     font-size: inherit;
     padding: 0px 0px 10px;
}

big a {
     font-size: inherit;
}

/*THIS IS BAD!!!*/
td > a > span, #reputation-button  {
     font-size: 1em;
}

#reputation-menu {
     border-radius: 0px !important;
}

.nbpb, .nbtb {
     background-color: inherit;
     border-width: 0px;
}

.backgroundDecoration {
     position: absolute;
     right: 1025px;
     top: 0px;
}

#rightDecorationBg {
     left: 1025px;
}

#MainContainer {
     /*background: url("http://files.phpclasses.org/graphics/phpclasses/backgroung_page.jpg") no-repeat scroll center 36px transparent;*/
     height: 100%;
     margin:0 auto -90px;
}
#Container {
     background: none repeat scroll 0% 0% #fff;
     height: auto !important;
     margin: 0px auto;
     position: relative;
     z-index: 10;
     width: 100% !important;
}
#PageContent {
     margin:0px auto;
     width: 93% !important;
     position: relative;
     text-align: left;
}

#PageInfo {
     background: inherit;
     width: inherit;
}

.pageDecoration {
     bottom: 0px;
     position: absolute;
     right: -9px;
}

#leftDecoration {
     left: -9px;
}

#user, #TopLine, #UserContent {
     background-color: #34495E;
     height: 50px;
     line-height: 36px;
     width: 100%;
}

#TopLine, #UserContent {
     z-index: 1;
}

#TopLine {
     position: absolute;
}

#user table {
     white-space: nowrap;
     width: auto;
     margin: 0px auto;
     padding: 10px 0px 0px 140px;
}

#user table td {
     line-height: 30px;
     padding: 0px;
     white-space: nowrap;
     width: auto;
}

#user .tabcontent {
     color: #C3F0FF;
     font-weight: bold;
}

#user .tabcontent span {
     float: left;
     padding: 8px 5px 0px 2px;
     white-space: nowrap;
}

#user a {
     color: #FFFFFF;
     font-size: 11px;
     font-weight: 100;
     padding: 0px 5px 0px 2px;
     text-align: left;
     text-decoration: none;
     white-space: nowrap;
}

#user a:hover {
     color: #C3F0FF;
}

#user img {
     padding-top: 3px;
     vertical-align: top;
}

#user .nbgu {
     float: left;
     padding: 0px;
     white-space: nowrap;
}

#Top {
     background: none repeat scroll 0% 0% #FFFFFF;
     margin: 0px auto;
     padding: 0px 0px 10px;
     position: relative;
     width: 100%;
     height: 100px;
}

#Top > h1 {
     top: 70px;
     position: relative;
     font-size: 1.5em;
     margin-left: 20px;
     font-style: bold;
     font-weight: 600;
     font-stretch: semi-expanded;
     color: #7F8C8D;
}

#logoPHP {
     /*background: url("http://files.phpclasses.org/graphics/phpclasses/elephpant_logo.png") no-repeat scroll center bottom transparent;*/
     background-color: #F6F6F6;
     float: left;
     height: 63px;
     left: 15px;
     margin: 0px 0px 0px 15px;
     padding: 20px 0px 15px;
     position: absolute;
     text-align: center;
     top: -60%;
     border-radius: 0px 0px 10px 10px;
     width: 263px;
}

#Top #logoCompany {
     float: right;
     position: absolute;
     right: 145px;
     top: 0px;
}

#elephpant {
     float: right;
     margin-right: 15px;
     position: absolute;
     right: 5px;
     top: -30px;
}

#recommendpage {
     background-color: #F6F6F6;
     float: right;
     margin: 0px 35px 10px 0px;
     border-radius: 0px 0px 10px 10px;
}

#recommendpage #recommendpagecontainer {
     /*background: url("http://files.phpclasses.org/graphics/phpclasses/recommend_right.jpg") no-repeat scroll right bottom transparent;*/
     float: left;
     padding: 0px 10px 0px 0px;
}

#recommendpage table {
     /*background: url("http://files.phpclasses.org/graphics/phpclasses/recommend_left.jpg") no-repeat scroll left bottom transparent;*/
     float: left;
     height: 40px;
     min-width: 688px;
     text-align: center;
     white-space: normal;
}

#recommendpage table td {
     background: none repeat scroll 0% 0% transparent;
     border: medium none;
     padding: 10px 0px 5px 10px;
     vertical-align: top;
}

#recommendpage table td img {
     padding: 0px 3px 0px 5px;
}

#navigation {
     background-color: #2980b9;
     clear: both;
     color: #fff;
     font-size: 1.2em;
     font-style: bold;
     height: 44px;
     line-height: 24px; 
     padding: 0px;
     position: relative;
     text-align: center;
     width: 100%;
}

#navigation form {
     border: 0px none;
}

#navigation table {
     height: 44px;
     width: 974px;
}

#navigation td {
     color: #C3F0FF;
     font-size: 14px;
     font-weight: bold;
     padding-top: 9px;
}

#navigation img {
     border: 0px none;
     margin: 0px 0px 0px 5px;
     vertical-align: middle;
}

#navigation a {
     color: #FFFFFF;
     font-weight: bold;
     text-decoration: none;
}

#navigation a:hover {
     text-decoration: underline;
}

#navigation td.nbgu {
     display: none;
}

#navigation td.nbtu, #MenuContent td.nblu {
     height: 24px;
     line-height: 24px;
     padding: 10px 4px 0px;
     text-decoration: none;
}

#navigation td.nbtu input[type="text"] {
     height: 20px;
     margin: 0px 5px;
     width: 100px;
}

#navigation td.nbtu * {
     float: left;
}

#ads {
     clear: both;
     margin: 0px auto;
     padding: 0px;
     width: 1010px;
}

#inputText {
     color: #666666;
     float: left;
     height: 20px;
     width: 150px;
}

.InfoContent {
     clear: both;
     margin: 0px auto;
     width: 100%;
     position: relative;
}

.InfoContent .nblu, .InfoContent .nbtu {
     background-color: #c6f0fe;
     background-image: linear-gradient(#e2f6ff, #c6f0fe);
     border-color: #92DBEC;
     border-style: solid solid none;
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     border-width: 1px 1px medium;
     color: #0666AB;
     font-size: 12px;
     padding: 7px;
     text-align: center;
     white-space: nowrap;
     width: auto;
}

.InfoContent .ct {
     background-color: #F6F6F6;
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     border-width: 1px 1px 0 1px;
     border-style: solid;
     border-color: #E1E1E1;
     color: #000000;
     font-size: 12px;
     padding: 3px;
     text-align: center;
     white-space: nowrap;
     width: auto;
}

.InfoContent .cd {
     background-color: #F6F6F6;
     border-bottom-left-radius: 6px;
     border-bottom-right-radius: 6px;
     border-width: 0 1px 1px 1px;
     border-style: solid;
     border-color: #E1E1E1;
     color: #000000;
     font-size: 12px;
     padding: 3px;
}

.InfoContent .cg {
     margin: 1px;
     padding: 0px;
     white-space: nowrap;
     width: 4px;
}

.InfoContent .nbtd:hover, .InfoContent .nbtu:hover {
     background-color: #bde5f2;
     background-image: linear-gradient(#d7eaf2, #bde5f2);
     text-decoration: underline;
     color: #2989C7;
}

.InfoContent .nbtd:hover .tab, .InfoContent .nbtu:hover .tab {
     color: #2989C7;
}

.InfoContent .nbld, .InfoContent .nbtd {
     background-image: url("http://files.phpclasses.org/graphics/phpclasses/tabsmenu_bg1.jpg");
     border-bottom-left-radius: 6px;
     border-bottom-right-radius: 6px;
     border-color: #92DBEC;
     border-style: solid solid none;
     border-width: 1px 1px medium;
     color: #0666AB;
     font-size: 12px;
     padding: 7px;
     text-align: center;
     white-space: nowrap;
     width: auto;
}

.InfoContent .nblu, .InfoContent .nbld {
     background-image: url("http://files.phpclasses.org/graphics/phpclasses/menu_bg.jpg");
     color: #FFFFFF;
}

.InfoContent .nblu .tab {
     font-weight: bold;
}

.InfoContent .nbgu {
     border-bottom: 2px solid #92CCF7;
     color: #0666AB;
     margin: 1px;
     padding: 0px;
     white-space: nowrap;
}

.InfoContent .nbgd {
     border-top: 2px solid #92CCF7;
     color: #0666AB;
     margin: 1px;
     padding: 0px;
     white-space: nowrap;
}

.InfoContent .nbtu a, .InfoContent .nbld a, .InfoContent .nbtd a {
     color: #0666AB;
     font-size: 12px;
}

.InfoContent .nbtu span.tab {
     color: #000000;
     font-weight: bold;
}

.InfoContent .nbtu a.tab {
     font-weight: bold;
}

.InfoContent .nblu a:hover, .InfoContent .nbtu a:hover, .InfoContent .nbld a:hover, .InfoContent .nbtd a:hover {
     color: #2989C7;
}

.InfoContent .nblu a, .InfoContent .nbld a {
     color: #FFFFFF;
     font-size: 12px;
}

.InfoContent .nblu a:hover, .InfoContent .nbld a:hover {
     color: #C3F0FF;
}

.InfoContent .nbtu, .InfoContent .nbtd {
     vertical-align: middle;
}

.InfoContent .nbpu, .InfoContent .nbpd {
     padding: 6px 0 0 0;
}

.InfoContent td {
     padding-left: 5px;
}

.even td, .odd td, .even th, .odd th {
     border-bottom: 3px dotted #CCCCCC;
     color: #444444;
}

.menutext {
     border-bottom: 1px dotted #CCCCCC;
     color: #444444;
}

.menuicon > a > img{
    width: 30px;
    height: 30px;
}

.menulink a {
     color: #83B035;
}

.menulink a:hover {
     text-decoration: underline;
}

.back {
     background-color: #FFFFFF;
}

.even {
}

.light {
     background: none repeat scroll 0% 0% #F6F6F6;
}

.dark {
     background: none repeat scroll 0% 0% #FBFBFB;
}

.odd {
}

.even td, .odd td, .highlight td, .highlight th, .featuredeven td, .featuredodd td {
     border-bottom: 1px solid #CCCCCC;
     padding: 5px;
}

.highlight {
     background: none repeat scroll 0% 0% #E8E8E8;
     padding: 5px;
}

.tabcontent {
     font-weight: bold;
}

.nblu .tabcontent {
     color: #ffffff;
     font-weight: bold;
}

.featuredodd {
     background-color: #C5D4DB;
     padding: 5px;
}

.featuredeven {
     background-color: #C5D4DB;
     padding: 5px;
}

.removed {
     background-color: #AAAAAA;
     text-decoration: line-through;
}

.invalid {
     background-color: #FFCCCC;
}

.warning {
     background-color: #FFB366;
}

.alright {
     background-color: #70F0A0;
}

.monospace, code {
     font-family: monospace,Courier,"Courier New";
}

.code {
     white-space: pre;
     white-space: pre-wrap;
     white-space: -pre-wrap;
     white-space: -o-pre-wrap;
     white-space: -moz-pre-wrap;
     white-space: -hp-pre-wrap;
     word-wrap: break-word;
     background: none repeat scroll 0% 0% #F6F6F6;
     padding: 4px;
}

.button {
     border-radius: 6px;
     padding: 4px;
     border-width: 1px;
     border-style: solid;
}

.new {
     background-color: #ffea80;
     background-image: linear-gradient(#fffa80, #ffea80);
     text-transform: uppercase;
     font-weight: bold;
     font-size: smaller;
     border-color: #ffe280;
}

.edit, .edit:link, .edit:visited, .InfoContent .nbtu a.edit {
     background-color: #60b040;
     background-image: linear-gradient(#90c070, #60b040);
     color: #ffffff;
     font-weight: bold;
     border-color: #60a840;
}

.edit:hover, .InfoContent .nbtu a.edit:hover {
     background-color: #50a030;
     background-image: linear-gradient(#60b040, #50a030);
     color: #C3F0FF;
     font-weight: bold;
     border-color: #60a840;
}

.edit:active, .InfoContent .nbtu a.edit:active {
     background-color: #60b040;
     background-image: linear-gradient(#50a030, #60b040);
     color: #ffffff;
     font-weight: bold;
     border-color: #409020;
     box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15)
}

.tag, .tag:link, .tag:visited {
    background-color: #dea7a7;
    background-image: linear-gradient(#eeb3b3, #dea7a7);
    color: #994d4d;
    font-weight: bold;
    border-color: #dea7a7;
}

.tag:hover {
    background-color: #ce9b9b;
    background-image: linear-gradient(#dea7a7, #ce9b9b); 
    color: #793d3d;
    font-weight: bold;
    border-color: #dea7a7;
}

.tag:active {
    background-color: #dea7a7;
    background-image: linear-gradient(#ce9b9b, #dea7a7);
    color: #994d4d;
    font-weight: bold;
    border-color: #be8f8f;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15)
}

.ranking, .votes {
    display: inline;
    padding: 4px 8px;
    font-size: large;
    border-radius: 6px;
    background-color: #E8E8E8;
    color: #000000;
}

.votes {
    font-weight: bold;
}

.progressbar {
     background-color: #0000FF;
     background-image: url("http://files.phpclasses.org/graphics/phpclasses/progress.png");
     background-size: auto 100%;
     border-style: none;
     padding: 4px;
     text-align: center;
     border-radius: 6px;
     box-shadow: 4px 4px 4px #888;
     -moz-box-shadow: 4px 4px 4px #888;
     -webkit-box-shadow: 4px 4px 4px #888;
     text-shadow: 2px 2px 2px #55C;
     -moz-text-shadow: 2px 2px 2px #55C;
     -webkit-text-shadow: 2px 2px 2px #55C;
}

.box {
     border-color: #E1E1E1;
     border-style: solid;
     border-width: 1px;
     padding: 10px;
     max-height: 700px !important;
     overflow: auto !important;
}

.framed {
     margin: 5px 0px;
     padding: 10px 15px;
}

.notifications {
     background: #e20000;
     background: -moz-radial-gradient(center, ellipse cover,  #e20000 0%, #fb7b67 100%);
     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e20000), color-stop(100%,#fb7b67));
     background: -webkit-radial-gradient(center, ellipse cover,  #e20000 0%,#fb7b67 100%);
     background: -o-radial-gradient(center, ellipse cover,  #e20000 0%,#fb7b67 100%);
     background: -ms-radial-gradient(center, ellipse cover,  #e20000 0%,#fb7b67 100%);
     background: radial-gradient(ellipse at center,  #e20000 0%,#fb7b67 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e20000', endColorstr='#fb7b67',GradientType=1 );
     border-radius: 6px;
     color: #ffffff;
     font-weight: bold;
     margin: 5px 0px;
     padding: 4px;
     text-shadow: 1px 1px 2px rgba(128, 128, 128, 1);
}

.no-notifications {
     background: #888888;
     border-radius: 6px;
     color: #ffffff;
     font-weight: bold;
     margin: 5px 0px;
     padding: 4px;
     text-shadow: 1px 1px 2px rgba(128, 128, 128, 1);
}

a:hover .no-notifications,
a:hover .notifications {
     text-decoration: underline;
}

.score, .highlightScore {
     background: #fefcec;
     background: -moz-radial-gradient(center, ellipse cover,  #fefcec 0%, #f2df4a 100%);
     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fefcec), color-stop(100%,#f2df4a));
     background: -webkit-radial-gradient(center, ellipse cover,  #fefcec 0%,#f2df4a 100%);
     background: -o-radial-gradient(center, ellipse cover,  #fefcec 0%,#f2df4a 100%);
     background: -ms-radial-gradient(center, ellipse cover,  #fefcec 0%,#f2df4a 100%);
     background: radial-gradient(ellipse at center,  #fefcec 0%,#f2df4a 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcec', endColorstr='#f2df4a',GradientType=1 );
     border-radius: 6px;
     margin: 5px 0px;
     padding: 4px;
     font-weight: bold;
}

.scoreText, .score, .highlightScore {
     color: #404040;
     text-shadow: 1px 1px 2px rgba(128, 128, 128, 1);
}

a:hover .score, a:hover .scoreText {
     text-decoration: underline;
}

.highlightScore {
     animation-name: highlightScore;
     animation-duration: 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate;

     -moz-animation-name: highlightScore;
     -moz-animation-duration: 0.5s;
     -moz-animation-iteration-count: infinite;
     -moz-animation-direction: alternate;

     -webkit-animation-name: highlightScore;
     -webkit-animation-duration: 0.5s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-direction: alternate;

     -o-animation-name: highlightScore;
     -o-animation-duration: 0.5s;
     -o-animation-iteration-count: infinite;
     -o-animation-direction: alternate;
}

@keyframes highlightScore
{
     0%   { background: #e6d346 }
     100% { background: #ffffff }
}

@-moz-keyframes highlightScore
{
     0%   { background: #e6d346 }
     100% { background: #ffffff }
}

@-webkit-keyframes highlightScore
{
     0%   { background: #e6d346 }
     100% { background: #ffffff }
}

@-o-keyframes highlightScore
{
     0%   { background: #e6d346 }
     100% { background: #ffffff }
}

a:hover .highlightScore {
     text-decoration: underline;
}

.menu {
     border-color: #FCFCFF #707078 #707078 #FCFCFF;
     border-style: solid;
     border-width: 1px;
     cursor: default;
     opacity: 0.95;
     padding: 2px;
     background-color: #c9c9c9;
}

#Footer {
     /*background: url("http://files.phpclasses.org/graphics/phpclasses/footer_bg.jpg") repeat-x scroll 0px 0px #102841;*/
     height: 90px;
     width: 100%;
     z-index: 1;
}

#FooterInfo {
     /*background: url("http://files.phpclasses.org/graphics/phpclasses/footer.jpg") no-repeat scroll center top #10263E;*/

     background: #34495E;
     height: 80px;
     position: relative;
     width: 100%;
}

#endnavigation {
     /*background: url("http://files.phpclasses.org/graphics/phpclasses/footer_menu.png") no-repeat scroll 0px 0px transparent;*/
     height: 35px;
     padding: 0px;
     width: 100%;
}

#endnavigation * {
     margin: 0px;
     padding: 0px;
}

#endnavigation table {
     height: 35px;
     padding: 0px;
}

#endnavigation table tbody {
     vertical-align: top;
}

#endnavigation a {
     color: #FFFFFF;
     font-size: 12px;
     font-weight: bold;
     padding: 0px 20px 0px 5px;
     text-decoration: none;
     text-transform: capitalize;
}

#endnavigation a:hover {
     color: #95DDED;
     text-decoration: underline;
}

#endnavigation img {
     padding-left: 13px;
}

#Copyright {
     color: #FFFFFF;
     font-size: 12px;
     height: 20px;
     margin: 0px auto;
     padding: 10px 0px;
     text-align: left;
}

#Copyright a {
     color: #80CCE8;
     text-decoration: none;
}

#Copyright a:hover {
     text-decoration: underline;
}

#Copyright table td {
     color: #FFFFFF;
     padding: 0px 10px;
}

#FooterInfo tt {
     font-family: arial,helvetica,sans-serif;
}

#Top h1 {
     padding: 80px 0 0 35px;
     overflow: hidden;
}
@media (min-width: 1025px) {
#Container {
     width: 1025px;
}
}
.search-input {
     vertical-align: top;
     margin: 1px 0 0 0;
     display: inline-block;
}